div.top{
    height: 150px;
    width: 1350px;
    background-color: rgb(1, 216, 245);
    style 
    width: 300#e12323px;
    margin: auto;
    border: 2px solid red;
    margin-top: 20px; ;
      }
  
h1{
    font-size: 100%;
    color:rgb(255, 0, 0);
    background-color: rgb(230, 230, 230);
    text-align :center 

}

.box1{

margin: 30px 0;
background-color: rgb(20, 172, 121);
height: 400px;
width: 1350px;
style 
    width: 300#e12323px;
    margin: auto;
    border: 2px solid red;
    margin-top:15px ;
      }
  
